.about-company {
  margin-bottom: 275px;

  @media (max-width: $tablet-width) {
    margin-bottom: 100px;
  }
}

.about-company__row {
  flex-wrap: nowrap;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
  }
}

.about-company__text {
  @include padding-left-element;
  background-color: $beige-color;
  padding-top: 105px;
  padding-bottom: 70px;
  max-width: 75%;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    max-width: 100%;
    padding-left: 1%;
    padding-top: 70px;
  }
}

.about-company__header {
  @include section-header;
  margin-bottom: 70px;
}

.about-company__text-item {
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 92px;
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
  }
}

.about-company__list {
  @include cancel-list;
  margin-top: 62px;
}

.about-company__item {
  @include cancel-list;
  padding-left: 0;
}

.about-company__item-number {
  @include section-header;
  margin-bottom: 23px;
}

.about-company__text-wrapper {
  width: 73%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.about-company__item-text {
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  width: 42%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
  }
}

.about-company__image {
  margin-bottom: -100px;
  margin-left: -17%;
  position: relative;
  z-index: 20;
  padding-right: 0;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
  }
}
