.breadcrumbs {
  @include margin-left;

  @media (max-width: $tablet-width) {
    @include null-padding;
  }

  &--card-page {
    margin-left: auto;
  }
}

.breadcrumbs__list {
  @include cancel-list;
  margin-bottom: 20px;

  &--card-page {
    margin-left: auto;
  }
}
.breadcrumbs__item {
  a {
    @include section-text-light;
    color: $black-color;
  }

  svg {
    color: $black-color;
  }
}


.breadcrumbs__item-link {
  padding-left: 0;
}
