.catalog {
  @media (max-width: $tablet-width) {
    padding-left: 0;
  }
}

.catalog__header {
  @include section-header;
  @include margin-from-header;
  @include null-padding;
  padding-left: 15px;
}

.catalog__list {
  @include cancel-list;
  @include null-padding;
  padding-left: 15px;
}

.catalog__item {
  margin-bottom: 4.375em;
  border: 1px solid $white-color;
  padding: 70px 0 0 0;

  &:hover {
    border: 1px solid #d6d6d6;

    .catalog__item-button {
      background-color: $blue-color;
      color: $white-color;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    padding-top: 20px;
  }
}


.catalog__item-text {
  margin-top: auto;
  margin-bottom: 35px;
}

.catalog__item-sale {
  @include section-text;
  font-family: $font-light;
  text-transform: lowercase;
  background-color: $blue-color;
  text-align: center;
  color: $white-color;
  margin-bottom: 15px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.catalog__item-header,
.catalog__item-text-item {
  @include section-text;
  margin-bottom: 0;

  @media (max-width: $mobile-width) {
    font-size: 0.75em;
    line-height: 1em;
    padding-left: 0;
    margin-bottom: 0.3125em;
  }
}

.catalog__item-text-item {
  margin-bottom: 1.3rem;
}

.catalog__item-price {
  @include item-price;
  margin-bottom: 0;
}

.catalog__item-old-price {
  @include item-old-price;
  margin-bottom: 0;

  @media (max-width: $mobile-width) {
    margin-bottom: 0.3125em;
  }
}


.catalog__item-image {
  @include null-padding;
  margin-bottom: 2.188em;
  padding-right: 0;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  padding-left: 0.3125em;
  }
}

.catalog__item-button {
  margin: 0 auto;
  padding: 1em 3em;
  background-color: transparent;
  color: $white-color;
  border: 1px solid $white-color;
  text-align: left;

  @media (max-width: $tablet-width) {
    font-size: 0.875em;
    line-height: 1em;
    padding: 10px;
  }

  @media (max-width: $mobile-width) {
    svg {
      display: none;
    }
  }

  &:hover {
    background-color: $blue-color;
    color: $white-color;
    border: 1px solid $blue-color;
  }

  svg {
    margin-left: 0.625em;
    margin-top: 0.625em;
  }
}

.catalog__button {
  @include section-item-header;
  @include cancel-button;
  margin-bottom: 12.5em;
  text-align: center;
  width: 100%;
  color: $grey-color;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    margin-bottom: 3.125em;
    svg {
      display: none;
    }
  }
}

.catalog__button-text {
  margin-bottom: 2.188em;
}
