.complect {
  @include margin-left;
  @include margin-from-section;
  order: 4;
}

.complect__header {
  @include margin-from-header;
  @include section-header;
  padding-left: 30px;

  @media (max-width: $tablet-width) {
    padding-left: 15px;
  }
}

.complect__item {
  margin-bottom: 70px;
  border: 1px solid $white-color;
  padding-left: 0;

  &:hover {
    border: 1px solid #d6d6d6;

    .catalog__item-button {
      background-color: $blue-color;
      color: $white-color;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
    padding-top: 20px;
  }
}


.complect__item-text {
  margin-top: 100px;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
  }
}

.complect__item-header,
.complect__item-text-item {
  @include section-text;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    line-height: 16px;
    padding-left: 0;
    margin-bottom: 5px;
  }
}

.complect__item-price {
  @include item-price;
}


.complect__item-image {
  margin-bottom: 35px;
  padding-right: 0;

  @media (max-width: $tablet-width) {
    @include null-padding;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
}

