.footer {
  display: flex;
  flex-direction: row;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.footer__menu-copyright {
  width: 90%;
  background-color: $blue-color;
  padding-left: 5%;
  padding-top: 153px;

  @media (max-width: $tablet-width) {
    width: 100%;
    order: 2;
    padding-top: 50px;
  }
}

.footer__menu-list,
.footer__copyright-list {
  @include cancel-list;
}

.footer__menu-list {
  margin-bottom: 147px;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }
}


.footer__copyright-list {
  margin-bottom: 42px;
}

.footer__menu-item,
.footer__copyright-item {
  margin-bottom: 20px;

  @media (max-width: $mobile-width) {
    text-align: center;
  }

  a {
    color: $white-color;
    font-size: 20px;
    line-height: 23px;
  }
}

.footer__message {
  margin-top: auto;
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 50px;
    order: 1;
  }
}

.footer__message-button {
  margin-left: 45px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: left;
  background-color: transparent;
  border: none;
}
