.header {
  margin-bottom: 130px;

  @media (max-width: $tablet-width) {
    position: relative;
    margin-bottom: 60px;
    padding-left: 0;
  }
  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.header__logo-promo-menu {
  @include padding-left-element;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }
}

.header__logo-header {
  font-size: 24px;
  line-height: 26px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__logo-link {
  color: $black-color;
  padding-top: 85px;
  text-align: left;
  background-color: $white-color;
  padding-left: 0;

  @media (max-width: $tablet-width) {
    padding-top: 30px;
    position: fixed;
    background-color: $white-color;
    z-index: 30;
  }

  @media (max-width: $mobile-width) {
    padding-top: 20px;
    padding-left: 60px;
  }

  &--inner-page {
    padding-top: 0;
  }

  @media (max-width: $tablet-width) {
    padding: 30px 2% 20px 100px;
    order: 1;
  }
}

.header__logo-image {
  margin-bottom: 35px;
  height: 80px;

  @media (max-width: $tablet-width) {
    margin-bottom: 10px;
    height: 40px;
  }
}


.header__logo-text {
  font-size: 16px;

  @media (max-width: $tablet-width) {
    margin-right: 20px;
    display: none;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    margin-left: -68px;
  }

  &--inner-page {
    font-size: 12px;
    line-height: 14px;
  }
}

.header__cart {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    position: fixed;
    top: 30px;
    right: 40px;
    width: 30px;
    height: 30px;
    z-index: 40;
    svg {
      color: $black-color;
    }
  }
}

.header__search {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    position: fixed;
    top: 28px;
    right: 110px;
    width: 30px;
    height: 30px;
    z-index: 40;
    svg {
      color: $black-color;
    }
  }
}

.header__promo {
  background-image: url("../img/door-handle@1x.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 47px 2% 80px 5%;
  margin-right: 0;

  @media (max-width: $tablet-width) {
    padding: 35px 0 40px 0;
    order: 3;
    margin-top: 100px;
  }
}

.header__promo-wrapper {
  @media (max-width: $tablet-width) {
    padding: 0 1%;
  }
}

.header__promo-row {
  justify-content: space-between;
}

.header__promo-search-form-input {
  background-color: transparent;
  border: 1px solid $white-color;
  color: $white-color;
  width: 400px;
  font-size: 14px;
  border-right: none;
  padding: 11px 25px;
  height: 35px;

  @media (max-width: $tablet-width) {
    border-right: 1px solid $white-color;
  }


  &::placeholder {
    @include white-link;
    color: $white-color;
  }
}

.header__promo-search-form {
  display: flex;
  flex-direction: row;
  vertical-align: top;
  height: 33px;
  margin-right: auto;
  padding-left: 30px;
  margin-bottom: 320px;
  @media (max-width: $tablet-width) {
    padding-left: 1%;
    margin-bottom: 200px;
  }
}

.header__promo-search-form-button {
  background-color: transparent;
  width: 30px;
  position: relative;
  height: 35px;
  border: 1px solid $white-color;
  border-left: none;

  @media (max-width: $tablet-width) {
    display: none;
  }

  svg {
    @include white-link;
    color: $white-color;
    @include center-absolute-element
    width: 64px;
    height: 64px;
  }
}

.header__promo-cart {
  width: 30px;
  height: 30px;
  margin-right: 5%;

  @media (max-width: $mobile-width) {
    right: 10%;
    left: auto;
    position: fixed;
  }

  svg {
    color: $white-color;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__promo-text-button {
  background-color: transparent;
  border: none;
  margin-left: auto;

  svg {
    color: $white-color;
  }
}

.header__promo-text-item {
  @include section-header;
  color: $white-color;
}

.header__promo-text-item-button {
  margin-left: auto;
}

.header__menu {
  margin-top: -235px;
  height: 410px;
  background-color: $blue-color;

    @media (max-width: $tablet-width) {
      padding: 20px 0 0;
      order: 2;
      position: fixed;
      z-index: 40;
      top: 100px;

      &--no-js {
        display: block;
      }
      &--closed {
        display: none;
      }
    }

  &--inner-page {
    background-color: transparent;
    height: auto;
    margin: auto 0;
    padding-top: 85px;
    height: auto;
    text-align: center;
    padding-bottom: 0;

    @media (max-width: $tablet-width) {
      padding: 47px 0 80px 0;
      order: 2;
      position: fixed;
      z-index: 40;
      top: 145px;
      background-color: $white-color;
      position: fixed;

      &--no-js {
        display: block;
      }
    }

  }
  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-top: 0;
    height: auto;
    padding-bottom: 30px;
    margin: 0 auto;
  }
}



.header__toggle {
  display: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    display: block;
    position: fixed;
    right: 20px;
    top: 23px;
    left: 2%;
    background-color: transparent;
    border: none;
    z-index: 40;

  }
}


.header__menu-list {
  @include cancel-list;
  padding-top: 80px;
  padding-bottom: 90px;
  padding-right: 80px;
  flex-wrap: wrap;
  padding-left: 80px;

  @media (max-width: $tablet-width) {
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
  }

  .w-100 {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
    }

  }

  &--inner-page {
    padding: 0;

    &:nth-child(2) {
      padding-left: 40%;
      //margin-left: -30%;
      background-color: $beige-color;
      text-align: center;
    }
  }

  &--cart-search {
    order: 4;
    text-align: right;
    position: relative;
    z-index: 10;
  }
}

.header__menu-item {
  margin-bottom: 40px;

    @media (max-width: $tablet-width) {
      margin-bottom: 20px;
    }

  a {
    @include white-link;
    @include section-text;
    color: $white-color;

    @media (max-width: $tablet-width) {
      font-size: 30px;
    }
  }

  &--inner-page {
    margin-top: 0;
    display: flex;
    padding-top: 20px;

    a {
      color: $black-color;
      font-size: 14px;
      line-height: 16px;

      @media (max-width: $tablet-width) {
        font-size: 20px;
        text-align: center
      }
    }

    button {
      width: 40px;
      height: 40px;
    }

    &--search,
    &--cart {
      max-width: 10px;

    }
  }
}

.header__info {
  padding-left: 1%;
  padding-top: 50px;

  @media (max-width: $tablet-width) {
    order: 4;
    padding-top: 0;
  }
}


.header__info-list {
  @include cancel-list;
}

.header__info-item {
  margin-top: 20px;
}

.header__info-item-header {
  @include section-header;
}

.header__info-item-text {
  @include section-text;
  text-transform: uppercase;
}
