.info {
  @include margin-from-section;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: $tablet-width){
    order: 3;
  }
}

.info__image {
  width: 255px;
  @include margin-left;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }

  @media (max-width: $mobile-width){
    margin-bottom: 30px;
    @include null-padding;
  }
}

.info__list {
  @include null-padding;
  margin-top: 70px;

  @media (max-width: $tablet-width){
    margin-top: 0;
  }
}

.info__item {
  margin-bottom: 50px;

  @media (max-width: $tablet-width){
    margin-bottom: 10px;
  }
}

.info__item-header {
  @include section-item-header;
  padding-left: 0;
}

.info__item-text {
  @include null-padding;
  @include section-item-text;
  padding-left: 0;
}
