.popular-goods {
  @include padding-left-element;
  padding-bottom: 90px;

  @media (max-width: $tablet-width) {
    padding-left: 1%;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
  @media (max-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.popular-goods__header {
  @include section-header;
  width: 20%;
  margin-bottom: 152px;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
  }
}

.popular-goods__list {
  @include cancel-list;
  min-height: 10rem;
  margin-bottom: 150px;

  @media (max-width: $mobile-width) {
    margin-bottom: 50px;
    padding-left: 1%;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.popular-goods__list > .col {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.popular-goods__item {
  display: flex;
  flex-direction: row;


  @media (max-width: $mobile-width) {
    margin: 0;
    height: 160px;
    padding-left: 1%;
  }

  &:nth-child(1),
  &:nth-child(3n),
  &:nth-child(4n) {
    height: 390px;

    .popular-goods__item-text {
      margin-top: auto;
      margin-bottom: 55px;

      @media (max-width: $mobile-width) {
        height: 160px;
        margin-top: 0;
      }
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;

    &:nth-child(1),
    &:nth-child(3n),
    &:nth-child(4n) {
      height: 292px;

      @media (max-width: $mobile-width) {
        height: 160px;
      }

      .popular-goods__item-text {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.popular-goods__item-image {
  width: 130px;
  height: 292px;
  margin-right: 0.1em;
  padding-left: 0;

  @media (max-width: $mobile-width) {
    height: 140px;
    margin-bottom: 0;
    padding-right: 0;
  }
}

.popular-goods__item-text {
  margin-top: auto;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.popular-goods__item-text-item {
  margin-top: auto;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    margin-top: 0;
  }
}

.popular-goods__item-header {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 5px;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    padding-left: 0;
  }
}

.popular-goods__item-price {
  font-size: 32px;
  line-height: 37px;

  @media (max-width: $mobile-width) {
    font-size: 12px;
  }
}

.popular-goods__item-old-price {
  font-size: 20px;
  line-height: 23px;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    margin-bottom: auto;
  }
}

.popular-goods__item-old-price {
  color: $blue-color;
  text-decoration: line-through;
}

.popular-goods__button {
  @include dark-link;
  @include section-header;
  margin-bottom: 100px;
  margin-left: auto;
  width: 37%;
  display: block;

  @media (max-width: $tablet-width) {
    width: 98%;
    margin-bottom: 50px;
    margin-left: 1%;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    margin-bottom: 30px;
  }

  svg {
    @include dark-link;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}
