.popular-goods {
  @include padding-left-element;
  @include margin-from-section;
  padding-bottom: 90px;

  @media (max-width: $mobile-width) {
    padding-bottom: 0;
  }
}

.popular-goods__header {
  @include section-header;
  @include margin-from-header;
  width: 20%;
  margin-bottom: 152px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
  }
}

.popular-goods__list {
  @include cancel-list;
  @include margin-from-list;
  min-height: 10rem;

  @media (max-width: $mobile-width) {
    margin-bottom: 50px;
    padding-left: 1%;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.popular-goods__list > .col {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.popular-goods__item {
  display: flex;
  flex-direction: row;
  margin-top: 185px;


  @media (max-width: $mobile-width) {
    margin: 0;
    padding-left: 1%;
  }

  &:nth-child(1),
  &:nth-child(3n),
  &:nth-child(4n) {
    margin-top: 0;
  }

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.popular-goods__item-image {
  margin-right: 0.1em;
  padding-left: 0;

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
    padding-right: 0;
  }
}

.popular-goods__item-text {
  margin-top: auto;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.popular-goods__item-text-item {
  margin-top: auto;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    margin-top: 0;
  }
}

.popular-goods__item-header {
  @include section-text;
  margin-bottom: 5px;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    padding-left: 0;
  }
}

.popular-goods__item-price {
  @include item-price;
}

.popular-goods__item-old-price {
  @include item-old-price;
}

.popular-goods__button {
  @include dark-link;
  @include section-header;
  @include margin-from-button;
  margin-bottom: 100px;
  margin-left: auto;
  width: 37%;
  display: block;

  @media (max-width: $tablet-width) {
    width: 98%;
    margin-left: 1%;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
  }

  svg {
    @include dark-link;

    @media (max-width: $tablet-width) {
      margin-left: 30px;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}
