.ready-sets {
  @include padding-left-element;
  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
    margin-left: 0;
  }
}

.ready-sets__header {
  @include section-header;
  margin-bottom: 20px;
}

.ready-sets__sub-header {
  @include section-text;
  margin-bottom: 60px;
}

.ready-sets__text {
  @include margin-from-header;
  @include section-long-text;
  width: 45%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.ready-sets__list {
  @include margin-from-list;
  @include cancel-list;
  margin-left: 5%;
  justify-content: space-between;
  overflow: scroll;
  flex-wrap: nowrap;

  @media (max-width: $tablet-width) {
    @include margin-from-list;
    margin-left: 0;
  }
}

.ready-sets__item {
  padding-right: 0;
  padding-left: 0;
  margin-right: 4em;

  @media (max-width: $tablet-width) {
    margin-right: 2em;
  }
}

.ready-sets__item-image {
  margin-bottom: 20px;
  padding-left: 0;
}

.ready-sets__item-text {
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }
}
