.ready-sets {
  @include margin-from-section;
  margin-right: 0;
  margin-left: auto;
  padding-right: 0;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    padding-right: 0;
    @include null-padding;
  }
}

.ready-sets__header {
  @include section-header;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    @include padding-left;
  }

}

.ready-sets__sub-header {
  @include section-text;
  margin-bottom: 60px;

  @media (max-width: $tablet-width) {
    @include padding-left;
    margin-bottom: 30px;
  }
}

.ready-sets__text {
  @include margin-from-header;
  @include section-long-text;

  @media (max-width: $tablet-width) {
    @include padding-left;
  }
}

.ready-sets__list {
  @include cancel-list;
  @include null-padding;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: scroll;
  margin-left: auto;
  padding-right: 0;
  margin-right: 0;
  overflow-y: auto;
  overflow-x: hidden;


  @media (max-width: $tablet-width) {
    margin-left: 0;
  }
}

.ready-sets__item {
  padding-right: 0;
  padding-left: 0;
  margin-right: 4em;
  margin-left: 0;


  @media (max-width: $tablet-width) {
    margin-right: 2em;
  }
}

.ready-sets__item-image {
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}

.ready-sets__item-text {
  font-size: 34px;
  line-height: 40px;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    padding-left: 10px;
  }
}
