@mixin background-section {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin padding-left-element {
  padding-left: 5%;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }
}

@mixin margin-from-header {
  margin-bottom: 150px;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

@mixin margin-from-list {
  margin-bottom: 150px;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

@mixin section-text {
  font-size: 20px;
  line-height: 24px;
}


@mixin section-long-text {
  font-size: 20px;
  line-height: 40px;
}

@mixin margin-from-section {
  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

@mixin margin-from-button {
  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

@mixin cancel-button {
  background-color: transparent;
  border: none;
}

@mixin section {
  padding: 100px 0;

  @media (max-width: $tablet-width) {
    padding: 40px 0;
  }
}

@mixin section-header {
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 26px
  }
}

@mixin cancel-list {
  list-style: none;
}

@mixin white-link {
  color: $white-color;

  &:hover {
    color: #f8f8f8;
  }

  &:active {
    color: #e8e8e8;
  }
}

@mixin dark-link {
  color: $black-color;

  &:hover {
    color: #505050;
  }

  &:active {
    color: #696969;
  }
}

@mixin center-absolute-element {
  left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
