@mixin background-section {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin null-padding {
  padding-left: 0;
  padding-right: 0;
}

@mixin null-margin {
  margin-left: 0;
  margin-right: 0;
}

@mixin margin-left-element {
  margin-left: 30px;

  @media (max-width: $tablet-width) {
    margin-left: -15px;
  }
}

@mixin margin-left {
  margin-left: 2%;

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }
}

@mixin padding-left {
  padding-left: 30px;

  @media (max-width: $tablet-width) {
    padding-left: 15px;
  }
}

@mixin padding-left-element {
  margin-left: 15px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }
}

@mixin margin-from-header {
  margin-bottom: 115px;

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

@mixin margin-from-list {
  margin-bottom: 150px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

@mixin section-text {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

@mixin label-color {
  width: 35px;
  height: 35px;
  margin-bottom: 0;
  display: block;
  position: relative;

  svg {
    @include center-absolute-element;
    width: 20px;
    height: 25px;
    display: none;
  }

  &[for="black"] {
    background-color: $black-color;
  }

  &[for="brown"] {
    background-color: $brown-color;
  }

  &[for="grey"] {
    background-color: $grey-color;
  }
}

@mixin input-color {
  &:checked + label svg {
    display: block;
  }
}

@mixin section-text-light {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: $font-light;
}

@mixin legend {
  font-size: 2rem;
  line-height: 2.313rem;

  @media (max-width: $tablet-width) {
    font-size: 1.5rem;
    line-height: 1.225rem;
  }


}

@mixin item-price {
  font-size: 2rem;
  line-height: 2.3rem;

  @media (max-width: $tablet-width) {
    font-size: 1.5rem;
    line-height: 1.625rem;
  }

  @media (max-width: $mobile-width) {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}

@mixin small-text {
  font-size: 0.875rem;
  line-height: 1rem;
}

@mixin very-small-text {
  font-size: 0.75rem;
  line-height: 0.875rem;
}

@mixin item-old-price {
  font-size: 1.25rem;
  line-height: 1.438rem;
  color: $blue-color;
  text-decoration: line-through;

  @media (max-width: $mobile-width) {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}


@mixin section-long-text {
  font-size: 1.25rem;
  line-height: 2.5rem;
  @media (max-width: $tablet-width) {
    line-height: 30px;
    font-size: 1rem;
  }
}

@mixin blue-button {
  background-color: $blue-color;
  border: none;
  padding: 20px 30px;
  color: $white-color;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: left;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  padding: 15px;
  }
  svg {
    height: 15px;
    width: 55px;
    padding-left: 20px;
  }
}

@mixin blue-button-in-form {
  @include blue-button;
  font-size: 23px;
  svg {
    height: 15px;
    width: 80px;
  }
}

@mixin margin-from-section {
  margin-bottom: 130px;
  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

@mixin margin-from-button {
  margin-bottom: 100px;

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

@mixin cancel-button {
  background-color: transparent;
  border: none;
}

@mixin section {
  padding: 100px 0;

  @media (max-width: $tablet-width) {
    padding: 40px 0;
  }
}

@mixin section-header {
  font-size: 3rem;
  line-height: 3.5rem;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    font-size: 2.5rem;
    line-height: 2.6rem;
  }

  @media (max-width: $mobile-width) {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}

@mixin section-item-header {
  font-size: 1.5rem;
  line-height: 1.625rem;
}

@mixin section-item-text {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

@mixin radio-label {
  font-size: 0.75rem;
  line-height: 0.875rem;
}

@mixin cancel-list {
  list-style: none;
}

@mixin white-link {
  color: $white-color;

  &:hover {
    color: #f8f8f8;
  }

  &:active {
    color: #e8e8e8;
  }
}

@mixin dark-link {
  color: $black-color;

  &:hover {
    color: #505050;
  }

  &:active {
    color: #696969;
  }
}

@mixin center-absolute-element {
  left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
}

@mixin left-column {
  position: relative;
  padding-left: 2%;
  font-size: $font-light;
  background-color: $beige-color;
  padding-bottom: 75px;
  padding-left: 30px;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
    order: 1;
    padding-bottom: 30px;
    margin-bottom: 50px;
    padding-top: 25px;
    padding-left: 15px;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      right: 0;
      top: -100%;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: $beige-color;
      z-index: -1;
    }
  }
}
