* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Robotocondensed", "Arial", "sens-serif";
}

.row {
  margin: 0;
}

.main {
  &--inner-page {
    margin-top: 150px;
  }
}

.main-inner-page__breadcrumbs-catalog {
  padding: 0 2%;
}

@font-face {
  font-family: "Robotocondensed";
  src: url("../fonts/Robotocondensed.woff2") format("woff2"), url("../fonts/Robotocondensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
