* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.row {
  margin: 0;
}

body {
  font-family: "Robotocondensed", "Arial", "sens-serif";
}

.container {
  max-width: 10000px;
}

.main {
  align-items: flex-start;
  @media (min-width: $mobile-width) {
    padding-left: 0;
  }
}

.main__filter {
  @media (max-width: $tablet-width) {
    order: 1;
  }
}

.main__breadcrumbs-catalog {
  padding-left: 2%;

  @media (max-width: $tablet-width) {
    order: 2;
  }
}

.main__breadcrumbs-order {
  padding-left: 7%;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    order: 2;
  }
}



@font-face {
  font-family: "Robotocondensed";
  src: url("../fonts/Robotocondensed.woff2") format("woff2"), url("../fonts/Robotocondensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Robotocondensedlight";
  src: url("../fonts/Robotocondensedlight.woff2") format("woff2"), url("../fonts/Robotocondensedbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Robotocondensedbold";
  src: url("../fonts/Robotocondensedbold.woff2") format("woff2"), url("../fonts/Robotocondensedbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
